force-app/main/default/flows/Assign_Project_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Are_fields_valid</name>
        <label>Are fields valid</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Any_field_is_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ProjectTasks.Description__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProjectResources</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProjectTasks.Close_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProjectTasks.Estimated_Hours__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProjectTasks.Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProjectTasks.Summary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_null_field_message</targetReference>
            </connector>
            <label>Any field is null</label>
        </rules>
        <rules>
            <name>Invalid_dates</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ProjectTasks.Start_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ProjectTasks.Close_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProjectTasks.Start_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_date_greater_than_Close_Date</targetReference>
            </connector>
            <label>Invalid dates</label>
        </rules>
        <rules>
            <name>Invalid_Dates_Range</name>
            <conditionLogic>NOT(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>ProjectTasks.Start_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Project.Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProjectTasks.Close_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Project.Close_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_date_range</targetReference>
            </connector>
            <label>Invalid Dates Range</label>
        </rules>
        <rules>
            <name>Invalid_PR_Date_Range</name>
            <conditionLogic>NOT(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>ProjectTasks.Start_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Project_Resource.Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProjectTasks.Close_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Project_Resource.Close_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_PR_Date_Range_Screen</targetReference>
            </connector>
            <label>Invalid PR Date Range</label>
        </rules>
        <rules>
            <name>Estimated_Hours_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectTasks.Estimated_Hours__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_estimated_hours</targetReference>
            </connector>
            <label>Estimated Hours Invalid</label>
        </rules>
        <rules>
            <name>Too_many_assigned_hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sum_Of_Hours</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Project_Resource.AssignedHours__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Too_Many_assigned_Hours</targetReference>
            </connector>
            <label>Too many assigned hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_Squad_Lead</name>
        <label>Is Squad Lead</label>
        <locationX>1502</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Project_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentUserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Squad_Lead.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AvailableResources</name>
        <collectionReference>Project_Resources</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Project_Resource__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResourceName</name>
        <collectionReference>Project_Resources</collectionReference>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <object>Project_Resource__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AvailableHours</name>
        <dataType>Number</dataType>
        <expression>{!Get_Project_Resource.AssignedHours__c} - {!Get_Project_Resource.Recorded_Hours__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>Sum_Of_Hours</name>
        <dataType>Number</dataType>
        <expression>{!ProjectTasks.Estimated_Hours__c} + {!Get_Project_Resource.Recorded_Hours__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Assign Project Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1634</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Button</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Close_Date__c</field>
            <value>
                <elementReference>ProjectTasks.Close_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>ProjectTasks.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Hours__c</field>
            <value>
                <elementReference>ProjectTasks.Estimated_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Resource__c</field>
            <value>
                <elementReference>ProjectResources</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>ProjectTasks.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>ProjectTasks.Summary__c</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>1502</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Resources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Resource</name>
        <label>Get Project Resource</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_fields_valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectResources</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Squad_Lead</name>
        <label>Get Squad Lead</label>
        <locationX>1502</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Is_Squad_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project.Squad_Lead__r.Resource__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Project_Resources</name>
        <label>Project Resources</label>
        <locationX>1502</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Squad_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Button</name>
        <label>Button</label>
        <locationX>1634</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Congratulations! You have created a new Task. &lt;/p&gt;&lt;p&gt;Please, click button &apos;Refresh&apos; to create a new one. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Refresh</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Entry_Question</name>
        <label>Entry_Question</label>
        <locationX>1502</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
        <fields>
            <name>click_next</name>
            <fieldText>&lt;p&gt;Click Next if you want to assign a Task to a Project&apos;s Resource&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>asd</description>
        <name>Fault_Path</name>
        <label>Fault Path</label>
        <locationX>1898</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_fault</name>
            <fieldText>&lt;p&gt;The estimated hours of the task exceeds the assigned hours of the project resource.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact your admin for support.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_date_range</name>
        <label>Invalid date range</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_daterange</name>
            <fieldText>&lt;p&gt;The dates range of the task must be within the project date range ({!Get_Project.Start_Date__c} - &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Project.Close_Date__c}&lt;/span&gt;).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Press&amp;nbsp;&lt;u&gt;Previous&amp;nbsp;&lt;/u&gt;to fix your record or press&amp;nbsp;&lt;u&gt;Finish&lt;/u&gt;&amp;nbsp;to cancel the operation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_estimated_hours</name>
        <label>Invalid estimated hours</label>
        <locationX>1106</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Invalid_EstimatedHours</name>
            <fieldText>&lt;p&gt;The estimated hours must be at least 1.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Press&amp;nbsp;&lt;u&gt;Previous&amp;nbsp;&lt;/u&gt;to fix your record or press&amp;nbsp;&lt;u&gt;Finish&lt;/u&gt;&amp;nbsp;to cancel the operation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_PR_Date_Range_Screen</name>
        <label>Invalid PR Date Range Scren</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_invalidprdaterange</name>
            <fieldText>&lt;p&gt;The dates range of the task must be within the project&apos;s resource date range ({!Get_Project_Resource.Start_Date__c} - {!Get_Project_Resource.Close_Date__c}).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Press&amp;nbsp;&lt;u&gt;Previous&amp;nbsp;&lt;/u&gt;to fix your record or press&amp;nbsp;&lt;u&gt;Finish&lt;/u&gt;&amp;nbsp;to cancel the operation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Project_Tasks</name>
        <label>Project Tasks</label>
        <locationX>2162</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You can&apos;t assign tasks because you&apos;re not the&lt;em&gt; Squad Lead&lt;/em&gt; of the project&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Too_Many_assigned_Hours</name>
        <label>Screen Too Many assigned Hours</label>
        <locationX>1370</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_toomanyassignedhours</name>
            <fieldText>&lt;p&gt;You cannot assign more than {!AvailableHours} hours.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Press&amp;nbsp;&lt;u&gt;Previous&amp;nbsp;&lt;/u&gt;to fix your record or press&amp;nbsp;&lt;u&gt;Finish&lt;/u&gt;&amp;nbsp;to cancel the operation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_null_field_message</name>
        <label>Show null field message</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Null_field_message</name>
            <fieldText>&lt;p&gt;You must fill all the fields.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Press &lt;u&gt;Previous &lt;/u&gt;to complete your record or press &lt;u&gt;Finish&lt;/u&gt; to cancel the operation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_date_greater_than_Close_Date</name>
        <label>Start date greater than Close Date</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>date1_error</name>
            <fieldText>&lt;p&gt;Start Date must be before Close Date and after today.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Press&amp;nbsp;&lt;u&gt;Previous&amp;nbsp;&lt;/u&gt;to fix your record or press&amp;nbsp;&lt;u&gt;Finish&lt;/u&gt;&amp;nbsp;to cancel the operation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tasks</name>
        <label>Tasks</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Project_Resource</targetReference>
        </connector>
        <fields>
            <name>TasksAssignement</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You can&apos;t assign tasks because you&apos;re not the&lt;em&gt; Squad Lead&lt;/em&gt; of the project&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CurrentUserId</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Get_Squad_Lead.Id</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ProjectResources</name>
            <choiceReferences>AvailableResources</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ProjectResources</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CurrentUserId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Get_Squad_Lead.Id</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>ProjectTasks.Summary__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CurrentUserId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Get_Squad_Lead.Id</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>ProjectTasks.Start_Date__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CurrentUserId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Get_Squad_Lead.Id</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>ProjectTasks.Close_Date__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CurrentUserId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Get_Squad_Lead.Id</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>ProjectTasks.Description__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CurrentUserId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Get_Squad_Lead.Id</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>ProjectTasks.Estimated_Hours__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CurrentUserId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Get_Squad_Lead.Id</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Entry_Question</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Project</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>RecordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>ProjectTasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
</Flow>
