force-app/main/default/flows/Create_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_PP_to_New_Collection</name>
        <label>Assign PP to New Collection</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ProjectProductsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordProjectProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Project_Product</name>
        <label>Project Product</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>RecordProjectProduct.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordProjectProduct.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Products.Role1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordProjectProduct.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Products.Total_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordProjectProduct.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Project</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_PP_to_New_Collection</targetReference>
        </connector>
    </assignments>
    <description>A project is created when an opportunity is set to &quot;Closed Won&quot;</description>
    <environments>Default</environments>
    <interviewLabel>Create Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Project</label>
    <loops>
        <name>Loop_Opportunity_Products</name>
        <label>Loop Opportunity Products</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Project_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Project_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Project</name>
        <label>Create Project</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Loop_Opportunity_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Date__c</field>
            <value>
                <elementReference>$Record.Project_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Project_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Project_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pre-Kickoff</stringValue>
            </value>
        </inputAssignments>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Project_Products</name>
        <label>Create Project Products</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputReference>ProjectProductsCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Opportunity_Products</name>
        <label>Opportunity Products</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>JunkProjectProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Product__c</objectType>
    </variables>
    <variables>
        <name>ProjectProductsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Product__c</objectType>
    </variables>
    <variables>
        <name>RecordProjectProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Product__c</objectType>
    </variables>
</Flow>