force-app/main/default/flows/Days_Off_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Projects</name>
        <label>Assign Projects</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>AllProjectss</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_PR.Project__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_valid_input</name>
        <label>Check for valid input</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Create_Record_for_Days_Off</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_fields</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DaysOff.Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysOff.Close_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Choose_a_Project</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysOff.Description__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysOff.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_fields_screen</targetReference>
            </connector>
            <label>Null fields</label>
        </rules>
        <rules>
            <name>Dates_validation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DaysOff.Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysOff.Close_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>DaysOff.Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Date_Screen</targetReference>
            </connector>
            <label>Dates validation</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CollectionOfProjects</name>
        <collectionReference>Get_Projects</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Project__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Days Off Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Days Off Screen</label>
    <loops>
        <name>Loop_PR</name>
        <label>Loop PR</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Project_Resource</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Projects</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Projects</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Record_for_Days_Off</name>
        <label>Create Record for Days Off</label>
        <locationX>578</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fault_path_screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Close_Date__c</field>
            <value>
                <elementReference>DaysOff.Close_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>DaysOff.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DaysOff.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Choose_a_Project</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>DaysOff.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Days_Off__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Project_Resource</name>
        <label>Get Project Resource</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_PR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Projects</name>
        <label>Get Projects</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Days_Off</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>AllProjectss</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation1</name>
            <fieldText>&lt;p&gt;Your request was successfully submitted. Please refer to the record created to check for the Status. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Days_Off</name>
        <label>Create Days Off</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_valid_input</targetReference>
        </connector>
        <fields>
            <name>Choose_a_Project</name>
            <choiceReferences>CollectionOfProjects</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose a Project</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>DaysOff.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>DaysOff.Start_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>DaysOff.Close_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>DaysOff.Description__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>fault_path_screen</name>
        <label>fault path screen</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_faultpath</name>
            <fieldText>&lt;p&gt;An unhandled error happened. Contact to your administrather for help.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Date_Screen</name>
        <label>Invalid Date Screen</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_invaliddate</name>
            <fieldText>&lt;p&gt;Start Date must be after today and before Close Date.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Press&amp;nbsp;&lt;u&gt;Previous&amp;nbsp;&lt;/u&gt;to fix your record or press&amp;nbsp;&lt;u&gt;Finish&lt;/u&gt;&amp;nbsp;to cancel the operation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Missing_fields_screen</name>
        <label>Missing fields screen</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_nullfields</name>
            <fieldText>&lt;p&gt;You must fill all the fields.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Press &lt;u&gt;Previous &lt;/u&gt;to complete your record or press &lt;u&gt;Finish&lt;/u&gt; to cancel the operation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_Days_Off</name>
        <label>Request Days Off</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Project_Resource</targetReference>
        </connector>
        <fields>
            <name>Submit_Request_for_Days_Off</name>
            <fieldText>&lt;p&gt;Click &quot;Next&quot; if you wish to submit a request for Days Off. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Request_Days_Off</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllProjectss</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DaysOff</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Days_Off__c</objectType>
    </variables>
</Flow>
