force-app/main/default/flows/Project_to_In_Progress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Does_it_have_Squad_Lead</name>
        <label>Does it have Squad Lead?</label>
        <locationX>611</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Check_Validation_Squad_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Squad_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Validation_Squad_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hours_Covered</name>
        <label>Hours Covered?</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Check_Validation_Hours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Hours__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Completed_Hours__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_To_In_Progress</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loss_or_Profit</name>
        <label>Loss or Profit?</label>
        <locationX>380</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Check_Validation_Profit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loss</defaultConnectorLabel>
        <rules>
            <name>Profit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Cost__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Validation_Profit</targetReference>
            </connector>
            <label>Profit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Project to In Progress {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project to In Progress</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Check_Validation_Hours</name>
        <label>Check Validation Hours</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Validation_Hours__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Check_Validation_Profit</name>
        <label>Check Validation Profit</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Validation_Profit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Check_Validation_Squad_Lead</name>
        <label>Check Validation Squad Lead</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Validation_Squad_Lead__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Project_To_In_Progress</name>
        <label>Project To In Progress</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Validation_Hours__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Uncheck_Validation_Profit</name>
        <label>Uncheck Validation Profit</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Hours_Covered</targetReference>
        </connector>
        <inputAssignments>
            <field>Validation_Profit__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Uncheck_Validation_Squad_Lead</name>
        <label>Uncheck Validation Squad Lead</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Loss_or_Profit</targetReference>
        </connector>
        <inputAssignments>
            <field>Validation_Squad_Lead__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_it_have_Squad_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Kickoff</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_Today__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProjectsFailed</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>ProjectsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
</Flow>
